@use './app/shared/variables' as *; 
@use 'primeicons/primeicons.css';
@import 'tailwindcss';

* {
 font-family: Montserrat;
 font-weight: 400;
}

input, textarea {
  width: 100%;
  border-radius: 12px;
  border: 2px solid #d1d5db;
  padding: 0.75rem 1rem;
  overflow-y: auto
}

.contentHeader {
  align-content: center;
  border: none;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 3rem;
 
  & div:has(> svg) {
    grid-column: 3;
    justify-self: end;
    margin-right: 3rem;
  }
  
  & .contentTitle {
    font-family: "Montserrat", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    grid-column: 2;
    justify-self: center;
    text-align: center;
  }

  & span {
    grid-column: 3;
    justify-self: end;
    margin-right: 1rem;
  }
}

.button {
  background-color: $button--color;
  padding: 1rem;
  border: 2px solid #d1d5db;
  border-radius: 12px;
  width: 20%;
  margin: 0 auto;
}