@use './app/shared/variables' as *; 
@use 'tailwindcss';

@theme {
  --shadow-card: 0 10px 25px rgba(0,0,0,0.08), 0 2px 8px rgba(0,0,0,0.05)
 }
 
* {
 font-family: Montserrat;
 font-weight: 400;
}

.button {
  background-color: $button--color;
  padding: 1rem;
  border: 2px solid #d1d5db;
  border-radius: 12px;
  width: 20%;
  margin: 0 auto;
}