@if(chatService.selectedContactRegistrationTime()) {
  <div class="w-full flex p-3">  
  <textarea class="w-full rounded-md border-2 border-slate-300 p-4 overflow-y-auto" placeholder="Typ hier je bericht" #messageInput (input)="chat.set(messageInput.value)" [value]="chat()"></textarea>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="80px" viewBox="0 -960 960 960" width="80px" fill="#1f1f1f"
    class=" hover:fill-gray-300 transition-colors duration-300 cursor-pointer"
    (click)="sendMessage()">
    <path d="M120-160v-640l760 320-760 320Zm60-93 544-227-544-230v168l242 62-242 60v167Zm0 0v-457 457Z"/>
  </svg>
</div>
}