<div class="flex h-screen justify-center items-center">
  <div class="flex flex-col bg-blue-50 w-[550px] px-12 py-9 gap-4 rounded-md shadow-card">

    <div class="text-center text-3xl flex justify-center gap-2">
      <span class="material-symbols-outlined text-2xl">forum</span>
      <h1>WhatsUp</h1>
    </div>

    <div class="flex justify-between gap-2 placeholder:gray-400 placeholder:italic">
      <label for="email" class="flex items-center">Email</label>
      <input
        id="email"
        type="email"
        class="login-input"
        (input)="email.set($event.target.value)"
        [value]="email()"
        placeholder="name@example.com"
      />
    </div>

    <div class="flex justify-between gap-2 placeholder:gray-400 placeholder:italic">
      <label for="password" class="flex items-center">Password</label>
      <input
        id="password"
        type="password"
        (input)="password.set($event.target.value)"
        [value]="password()"
        class="login-password"
        placeholder="Password"
      />
    </div>

    @if(isRegistering()) {
    <div class="flex justify-between gap-2 placeholder:gray-400 placeholder:italic">
      <label for="naam">Naam</label>
      <input
        id="naam"
        type="text"
        (input)="naam.set($event.target.value)"
        [value]="naam()"
        class="register-naam"
        placeholder="Naam"
      />
    </div>
  }

  <div class="flex justify-end gap-2">
    <button
      class="bg-gray-200 border border-gray-300 text-black hover:bg-gray-50 hover:cursor-pointer transition-colors duration-300 px-4 py-2 rounded-lg disabled:opacity-50 disabled:cursor-not-allowed"
      [disabled]="isRegistering() && !isRegistrationValid()"
      (click)="register()"
    >Register</button>
    <button
      class="bg-gray-200 border border-gray-300 text-black hover:bg-gray-50 hover:cursor-pointer transition-colors duration-300 px-4 py-2 rounded-lg disabled:opacity-50 disabled:cursor-not-allowed"
      [disabled]="!isLoginValid() && !isRegistering()"
      (click)="isRegistering() ? isRegistering.set(false) : login()"
    >{{isRegistering() ? 'Terug naar Sign In' : 'Sign In'}}</button>
  </div>

</div>