<div class="login-page">
  <div class="login-panel">

    <div class="logo">
      <i class="pi pi-comments"></i>
      <h1>WhatsUp</h1>
    </div>

    <div class="field">
      <label>Email</label>
      <input
        pInputText
        type="email"
        class="login-input"
        [(ngModel)]="email"
        placeholder="name@example.com"
      />
    </div>

    <div class="field">
      <label>Password</label>
      <input
        pPassword
        [(ngModel)]="password"
        [feedback]="false"
        class="login-password"
        placeholder="Password"
      />
    </div>

    <div class="flex justify-end gap-2">
      <button
        class="bg-gray-200 border-1 border-gray-300 text-black hover:bg-gray-50 transition-colors duration-300 px-4 py-2 rounded-lg"
        (click)="register()"
      >Register</button>
      
      <button
        class="bg-gray-200 border-1 border-gray-300 text-black hover:bg-gray-50 transition-colors duration-300 px-4 py-2 rounded-lg"
        (click)="login()"
      >Sign in</button>
    </div>

  </div>
</div>