@use '../../shared/variables' as *;

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-panel {
  width: 550px;
  padding: 3rem;
  background: white;
  border-radius: 16px;
  box-shadow: $box--shadow;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.login-input, .login-password, .register-naam {
  width: 80%;
  border-radius: 12px;
  border: 2px solid #d1d5db;
  padding: 0.75rem 1rem;
}

.login-input::placeholder, .login-password::placeholder, .register-naam::placeholder {
  color: #9ca3af;
  font-style: italic;
}

.logo {
  text-align: center;
  margin-bottom: 1rem;

  i {
    font-size: 3rem;
  }

  h1 {
    margin-top: .75rem;
    font-size: 2rem;
    font-weight: 600;
  }
}

.field {
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  
  & div[data-lastpass-icon-root] {
    display: none;
  }
  
  & label {
    align-self: center
  }
}

button:disabled {
  filter: opacity(30%)
}