<div class="flex flex-col w-[1080px] h-[1020px] justify-center pl-10 pr-10">
  <header></header>
  <div class="flex h-9/12 w-full">
    <aside class="flex flex-col justify-start items-center w-1/5 bg-paper rounded-lg p-3 mr-3 gap-3 overflow-y-auto">

      @if(pendingGroups.error()) {
        <p class="bg-red-500">Fout bij ophalen pending Groepen: {{pendingGroups.error()}}</p>
      } @else {
        @for(pendingGroup of pendingGroups.value(); track pendingGroup.id) {
          <group
            [id]="pendingGroup.id || ''"
            [naam]="pendingGroup.name"
            [description]="pendingGroup.description"
            [invitationId]="pendingGroup.invitationId"
            [(selectedGroupId)]="selectedGroupId"
            [status]="'pending'">
          </group>
       }
      }
        
      @if(groups.error()) {
        <p class="bg-red-500">Fout bij ophalen groepen: {{groups.error()}}</p>
      } @else {
        @for(group of groups.value(); track group.id) {
          <group
            [id]="group.id || ''"
            [description]="group.description"
            [naam]="group.name"
            [(selectedGroupId)]="selectedGroupId">
          </group>
        }
      }

      <button
        class="self-end mt-auto w-1/3 border-2 rounded-full bg-dusk border-gray-200 hover:cursor-pointer hover:bg-dusk-light"
        (click)="openModal()" >
        <img
          src="/assets/img/add_button.svg"
          alt="nieuwe groep toevoegen"
          tabindex="0">
      </button>

    </aside>
    <aside
      class="flex flex-col justify-start items-center w-1/5 bg-red-50 rounded-lg p-3 mr-3 gap-3">

      @if(contacts.isLoading()) {
        <p>Contacts laden...</p>
      } @else if(contacts.error()){
        <p class="bg-red-500">Fout bij ophalen contacten: {{contacts.error()}}</p>
      } @else {
        @for(contact of contacts.value(); track contact.id) {
          <contact
            [naam]="contact.name"
            [contactId]="contact.id!"></contact>
        }
      }

    </aside>
    <main class="flex flex-col min-h-0 bg-blue-50 w-full h-full p-4">

      <router-outlet></router-outlet>

      <div class="fixed inset-0 bg-gray-900/50 flex items-center justify-center mb-[12rem] transition-colors duration-200"
        [class.bg-gray-900/50]="groupService.addingNewGroup()"
        [class.invisible]="!groupService.addingNewGroup()"
        (click)="closeModal($event)"
        (keyup)="closeModal($event)"
        tabindex="0">

      <!--  deze router-outlet is voor de modal die de CreateNewGroupComponent vertoont -->
      <router-outlet name="modal" 
          (activate)="groupService.addingNewGroup.set(true)" 
          (deactivate)="groupService.addingNewGroup.set(false)">
        </router-outlet>
      </div>

      <footer class="h-auto bg-yellow-50 rounded-lg mt-auto mb-0">
        <message-input></message-input>
      </footer>

    </main>
  </div>
</div>