<div class="flex justify-center">
  <div class="flex h-[80vh] w-full m-5">
    <aside class="flex flex-col justify-start items-center w-1/5 bg-red-50 rounded-lg pt-3 mr-3 gap-3 overflow-y-auto">

      @if(contacts.isLoading()) {
        <p>Contacts laden...</p>
      } @else if(contacts.error()){
        <p class="bg-red-500">Fout bij ophalen contacten</p>
      } @else {
        @for(contact of chatService.contacts(); track contact.registrationTime) {
          <contact
            [naam]="contact.name"
            [registrationTime]="contact.registrationTime"
            (selectContact)="selectContact($event)"></contact>
        }
      }

    </aside>
    <main class="flex flex-col w-full justify-between">
      
      <div class="flex flex-col">
        @for(chat of this.chatService.conversation(); track chat.receiver) {
          <chat [chat]="chat"></chat>
          }
      </div>

      <footer class="max-h-1/5 flex-1 bg-yellow-50 rounded-lg"><message-input (onSendMessage)="sendMessage($event)"></message-input></footer>
    </main>
  </div>
</div>