@use '../../../shared/variables' as *;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.login-input, .login-password, .register-naam {
  width: 80%;
  border-radius: 12px;
  border: 2px solid #d1d5db;
  padding: 0.75rem 1rem;
}

*::placeholder {
  color: #9ca3af;
  font-style: italic;
}
